.vscode/
*.swp
*.swo


*.exe
*.o
*.obj
*.out
*.dll
*.lib
*.a


build/
bin/
out/


CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
CMakeLists.txt.user


Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store